html, body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    min-width: 400px;
    height: 100%;
    background-color: #000;
}

#auth-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#auth-wrapper {
    text-align: center;
    position: relative;
}

.navbar-custom {
    justify-content: center;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 20;
    background: #000;
}

#content-container {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    top: 130px;
}

#content-wrapper {
    text-align: center;
    /*position: relative;*/
}

.auth-form {
    display: inline-block;
    text-align: center;
}

.error-msg {
    color: #ff0000;
    font-size: 12px;
}

.toggle-state {
    cursor: pointer;
    text-decoration: underline;
    color: #0d6efd;
}

.nweetbox {
    position: relative;
    background: #fff;
    border-radius: 10px;
    display: flex;
    width: 340px;
    height: 90px;
    margin: 20px;
}
.btnbox {
    left: 275px;
    position: absolute;
}
.photobox {
    position: absolute;
    left: 300px;
    top: 50px;
    width: 50px;
    height: 50px;
    border-radius: 70%;
    overflow: hidden;
}
.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textbox {
    width: 100%;
    height: 100%;
    padding: 25px 65px 10px 10px;
    font-size: 12px;
    word-break:break-all;
    text-align: left;
}

.namebox{
    position: absolute;
    margin: 3px 0px 0px 10px;
}

.namebox .name{
    font-size: 12px;
    font-weight: 900;
}

.namebox .date{
     font-size: 11px;
     color: #6c757d;
 }

#profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-wrapper {
    width: 300px;
    height: 300px;
    text-align: center;
    position: relative;
}

.profilePhoto {
    border-radius: 40px;
    width: 30px;
    height: 30px;
}

.profileFilebox {
    background: #f0f8ffa6;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* scrollbar */
.nweetScroll {
    overflow-y: auto;
    height: calc(100vh - 280px)
}

/* 스크롤바 전체 */
.nweetScroll::-webkit-scrollbar {
    width: 8px;
}
/* 스크롤바 막대 */
.nweetScroll::-webkit-scrollbar-thumb {
    background-color: #007bffad;
    border-radius: 10px;
    background-clip: padding-box;
    border: 1px solid transparent;
}
/* 스크롤바 외부 */
.nweetScroll::-webkit-scrollbar-track {
    background-color: #007bff4d;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px black
}